*.bat
*.log
*.md
*.png
*.toml
.*
.git
.github
.vscode
Dockerfile
contracts/wasm/target
contracts/wasm/gascalibration
docOps/
documentation
evmemulator
gascalibration
packages/snapshot
packages/vm/wasmlib
schema
snap-cli
snapshot
tools/cluster
tools/devnet
tools/evm*
tools/snap-cli
wal
wasp
wasp-cli
waspdb/